@tailwind base;

@tailwind components;

@tailwind utilities;


.btn {
    @apply font-bold py-2 px-4 rounded;
}
.btn-blue {
    @apply bg-blue-500 text-white;
}
.btn-blue:hover {
    @apply bg-blue-700;
}
.btn-green {
    @apply bg-green-500 text-white;
}
.margin-b-10 {
    margin-bottom: 10px;
}
.card {
    @apply max-w-sm w-full;
}
   /* Modal Header */
.modal-header {
    padding: 20px;
    background-color: #00b7ac;
    color: white;
  }
  
  /* Modal Body */
  .modal-body {padding: 20px}
  
  /* Modal Footer */
  .modal-footer {
    padding: 20px;
    /*background-color: #00b7ac;*/
    color: white;
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 35%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  
  /* Add Animation */
  @keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
  }
  .margin-l-5 {
    margin-left: 5px;
  }


